@page
@model Apya.Platform.Web.Pages.Invoices.CreateModalModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@inject IHtmlLocalizer<Apya.Platform.Localization.PlatformResource> L
@{
    Layout = null;
}
<abp-dynamic-form abp-model="InvoiceInfo" asp-page="/Invoices/CreateModal" id="ViewModelForm">
    <abp-modal size="Large">
        <abp-modal-header title="Yeni Fatura Oluştur"></abp-modal-header>
        <abp-modal-body>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label" asp-for="InvoiceInfo.ProjectId">Proje</label>
                    <select asp-for="InvoiceInfo.ProjectId" asp-items="Model.Projects" class="form-select"></select>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label" asp-for="InvoiceInfo.InvoiceNumber">Fatura No</label>
                    <input asp-for="InvoiceInfo.InvoiceNumber" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label class="form-label" asp-for="InvoiceInfo.InvoiceDate">Fatura Tarihi</label>
                    <input asp-for="InvoiceInfo.InvoiceDate" type="date" class="form-control" />
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label" asp-for="InvoiceInfo.DueDate">Son Ödeme Tarihi</label>
                    <input asp-for="InvoiceInfo.DueDate" type="date" class="form-control" />
                </div>
                <div class="col-md-2 mb-3">
                    <label class="form-label" asp-for="InvoiceInfo.TaxRate">KDV Oranı (%)</label>
                    <input asp-for="InvoiceInfo.TaxRate" type="number" step="0.01" class="form-control" />
                </div>
                <div class="col-md-2 mb-3">
                    <label class="form-label" asp-for="InvoiceInfo.Currency">Para Birimi</label>
                    <input asp-for="InvoiceInfo.Currency" class="form-control" />
                </div>
            </div>

            <hr />
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h5 class="mb-0">Fatura Kalemleri</h5>
                <button type="button" class="btn btn-sm btn-outline-primary" id="AddInvoiceItemBtn">
                    <i class="fa fa-plus"></i> Yeni Kalem Ekle
                </button>
            </div>
            
            <div id="InvoiceItemsContainer">
                <div class="row invoice-item mb-2 align-items-end" data-index="0">
                    <div class="col-md-5">
                        <label class="form-label">Açıklama</label>
                        <input name="InvoiceInfo.Items[0].Description" class="form-control" required />
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Miktar</label>
                        <input name="InvoiceInfo.Items[0].Quantity" type="number" step="0.01" class="form-control input-qty" value="1" required />
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Birim Fiyat</label>
                        <input name="InvoiceInfo.Items[0].UnitPrice" type="number" step="0.01" class="form-control input-price" required />
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-outline-danger btn-remove-item"><i class="fa fa-trash"></i></button>
                    </div>
                </div>
            </div>
            
            <!-- JavaScript for Items -->
            <script>
                $(function () {
                    var itemIndex = 1;
                    $('#AddInvoiceItemBtn').click(function () {
                        var html = `
                        <div class="row invoice-item mb-2 align-items-end" data-index="\${itemIndex}">
                            <div class="col-md-5">
                                <input name="InvoiceInfo.Items[\${itemIndex}].Description" class="form-control" required placeholder="Açıklama" />
                            </div>
                            <div class="col-md-3">
                                <input name="InvoiceInfo.Items[\${itemIndex}].Quantity" type="number" step="0.01" class="form-control input-qty" value="1" required />
                            </div>
                            <div class="col-md-3">
                                <input name="InvoiceInfo.Items[\${itemIndex}].UnitPrice" type="number" step="0.01" class="form-control input-price" required placeholder="Birim Fiyat" />
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-outline-danger btn-remove-item"><i class="fa fa-trash"></i></button>
                            </div>
                        </div>`;
                        $('#InvoiceItemsContainer').append(html);
                        itemIndex++;
                    });

                    $(document).on('click', '.btn-remove-item', function () {
                        if ($('.invoice-item').length > 1) {
                            $(this).closest('.invoice-item').remove();
                        } else {
                            abp.notify.warn('En az bir fatura kalemi gereklidir.');
                        }
                    });
                });
            </script>
        </abp-modal-body>
        <abp-modal-footer buttons="SaveAndCancel"></abp-modal-footer>
    </abp-modal>
</abp-dynamic-form>
