<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <!--
        Paylaşımlı Windows hosting (Plesk/IIS) hedefi:
        - processPath: self-contained publish'te SDK bunu .\Apya.Platform.Web.exe yapar.
          'arguments' BİLİNÇLİ OLARAK YOK: exe'ye .dll argümanı geçilirse Program.cs'teki
          AddCommandLine(args) tanımadığı pozisyonel argümanla FormatException fırlatır.
        - hostingModel=OutOfProcess: sunucudaki ANCM sürümünü kontrol edemiyoruz.
          OutOfProcess sadece exe'yi başlatıp ters vekil yapar, runtime/ANCM sürüm
          eşleşmesi gerektirmez. InProcess daha hızlıdır; ANCM sürümü doğrulanınca denenebilir.
        - Sorun giderme: site açılmazsa stdoutLogEnabled="true" yapıp .\Logs\stdout* dosyalarına bak.
      -->
      <aspNetCore processPath=".\Apya.Platform.Web.exe"
                  stdoutLogEnabled="false"
                  stdoutLogFile=".\Logs\stdout"
                  hostingModel="OutOfProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="x-powered-by" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
