@page
@using Apya.Platform.Web.Pages.Projects
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model CreateModalModel
@{
    Layout = null;
}

<form asp-page="/Projects/CreateModal" method="post" enctype="multipart/form-data">
    <abp-modal>
        <abp-modal-header title="Yeni Proje Oluştur"></abp-modal-header>

        <abp-modal-body>
            @if (Model.CurrentTenantId == null)
            {
                <abp-select asp-for="Project.TenantId" asp-items="Model.Tenants" label="Müşteri Seçin (Boş bırakılırsa Host adına açılır)">
                    <option value="">Kendi Hesabım (Platform)</option>
                </abp-select>
            }
            <abp-input asp-for="Project.Name" label="Proje Adı" />
            <abp-input asp-for="Project.Code" label="Proje Kodu (Örn: PRJ-2026-001)" />
            <abp-input asp-for="Project.Purpose" label="Amacı" />
            <abp-input asp-for="Project.Duration" label="Süresi" />
            
            <abp-row>
                <abp-column size="_6">
                    <abp-input asp-for="Project.StartDate" type="date" label="Başlangıç Tarihi" />
                </abp-column>
                <abp-column size="_6">
                    <abp-input asp-for="Project.EndDate" type="date" label="Bitiş Tarihi" />
                </abp-column>
            </abp-row>
            <abp-input asp-for="Project.TargetAudience" label="Hedef Kitlesi" />
            <abp-input asp-for="Project.Activities" label="Faaliyetleri" />
            <abp-row>
                <abp-column size="_8">
                    <abp-input asp-for="Project.TotalBudget" label="Bütçesi (Miktar)" />
                </abp-column>
                <abp-column size="_4">
                    <abp-select asp-for="Project.Currency" asp-items="Model.Currencies" label="Para Birimi" />
                </abp-column>
            </abp-row>
            <abp-input asp-for="Project.Description" type="textarea" label="Açıklama" />

            <div class="mb-3">
                <label class="form-label">Proje Dosyası (Opsiyonel)</label>
                <input type="file" class="form-control" asp-for="UploadFile">
                <small class="text-muted">PDF, Excel veya Görsel yükleyebilirsiniz.</small>
            </div>

        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>